.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button {
  background-color: transparent;
  color: var(--color-dark-100);
  font-size: var(--font-size-s);
  &:hover {
    background-color: transparent;
  }
}

.textButton {
  &:hover {
    text-decoration: underline;
  }
}

.active {
  text-decoration: underline;
  color: var(--color-info-500)
}