.button {
  padding: 5px 10px;
  border-radius: 5px;
  height: max-content;
  border: none;
  cursor: pointer;
  &:disabled {
    background-color: var(--color-light-900);
    cursor: default;
  }
  &:disabled:hover {
    background-color: var(--color-light-900);
    cursor: default;
  }
}

.text {
  background-color: transparent;
  color: #8a8b90;
}

.primary {
  background-color: #397df6;
  color: #fff;
  &:hover {
    background-color: #6fa2ff;
  }
}

.danger {
  background-color: #ff6559;
  color: #fff;
  &:hover {
    background-color: #ff857c;
  }
}



