:root {
  font-family: var(--font-family-primary);
  line-height: var(--line-height-m);
  font-weight: var(--font-weight-regular);
  font-size: 14px;
  color: var(--color-dark-300);
  background-color: var(--color-light-300);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}
