.list {
  list-style-type: none;
  padding: 0;
}

.listItem {
  margin: 0;
  padding: 0;
}

.epmtyTaskListTitle {
  margin-top: 15px;
  font-size: var(--font-size-xs);
  color: var(--color-light-900)
}